.div-container{
    padding: 21px;
    background-color: white;
    border: 5px solid black;
    margin: 50px auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.dynamic-divs{
    width: 150px;
    height: 150px;
    border: 6px solid gold;
    margin-top: 30px;
}